<table st-table="products" class="table table-striped">
	<thead>
	<tr>
		<th st-sort="productCode">productCode</th>
		<th st-sort="productName">productName</th>
		<th st-sort="productLine">productLine</th>
		<th st-sort="productScale">productScale</th>
		<th st-sort="productVendor">productVendor</th>
                <th st-sort="productDescription">productDescription</th>
                <th st-sort="quantityInStock">quantityInStock</th>
                <th st-sort="buyPrice">buyPrice</th>
                <th st-sort="MSRP">MSRP</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="p in products">
		<td>{{p.productCode}}</td>
		<td>{{p.productName}}</td>
		<td>{{p.productLine}}</td>
		<td>{{p.productScale}}</td>
		<td>{{p.productVendor}}</td>
                <td>{{p.productDescription}}</td>
		<td>{{p.quantityInStock}}</td>
		<td>{{p.buyPrice | currency}}</td>
		<td>{{p.MSRP | currency}}</td>
	</tr>
	</tbody>
</table>

